<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./components/head.ejs') %>
</head>

<body>
    <header>
        <a href="" id="refresh">
            <h1>Rijksmuseum</h1>
        </a>
        <button id="search_btn">
            <i class="fas fa-search"></i>
        </button>
    </header>
    <main>
        <form id="search" class="hidden">
            <fieldset>
                <label for="inputField">Zoek op een naam</label>
                <input type="text" id="inputField">
            </fieldset>
            <button id="submitSearch" onclick="search()">></button>
        </form>
        <form id="filters" action="" class="">
        </form>
        <section id="artItems" class="loading">
            <p>Er is niks om af te beelden, probeer opnieuw</p>
            <a id="reload" href="">Probeer opnieuw</a>
        </section>
        <section id="info_boxes"></section>
    </main>
    <script type="module" src="./js/script.js"></script>
</body>

</html>