/* --- Styling Reset --- */
*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* --- End Styling Reset --- */
/* --- States --- */


.hidden {
    display: none;
}

#search.hidden {
    position: absolute;
    top: -4.188em;
    transition: 0.5s ease-in-out;
}

.active {
    background-color: grey;
}

#search.active {
    background-color: grey;
}
/* --- End States --- */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
}

body header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
    color: white;
    border-bottom: 1px solid black;
    z-index: 2;
}
#refresh {
    color: white;
    flex-grow: 3;
    border: none;
    cursor:default;
}
header h1 {
    text-align: center;
}
#search_btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#search_btn i.fa-search {
    width: 2.125em;
    height: 2.125em;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    position: relative;
    height: auto;
    margin-bottom: 1em;
}

fieldset {
    border: none;
    display: flex;
    align-items: center;
}

fieldset label {
    font-size: 12px;
    margin-right: 5px;
}

#search {
    position: absolute;
    top: 0em;
    z-index: 1;
    width: 100%;
    padding: 0.625em 0em;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: 1s;
}

#search button {
    padding: 0.375em 0.625em;
    text-align: center;
    border-radius: 15px;
    background-color: white;
    border: 2px solid black;
}

#artItems {
    z-index: -3;
    padding-top: 1em;
}

#reload {
    padding: 0.5em;
    background-color: white;
    margin-top: 1em;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

#reload:focus {
    background-color: #999;
}

.loading {
    color: white;
    width: 100%;
    padding-top: 1.875em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.art {
    position: relative;
    cursor: pointer;
}

article {
    position: relative;
    z-index: -2;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
    transition: 1s;
}

article div {
    height: 18.750em;
    width: 100%;
    z-index: -1;
}

article img {
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: 50% 50%;
}

article h2 {
    width: 100%;
    padding: 1.875em 0.313em 0.313em 0.313em;
    color: black;
    background-image: linear-gradient(transparent, white);
    position: absolute;
    left: 0;
    bottom: 0;
}

.bg-fade {
    position: fixed;
    top: -1em;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 50%;
}

/* --- Article not active --- */


/* info box */
article.infobox {
    display: none;
    position: fixed;
    top: 8vh;
    left: 10%;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    background-color: darkgrey;
}

.infobox button, #bg-fade {
    display: none;
}

.infobox .close_popup {
    z-index: 3000;
    display: flex;
    align-self: flex-end;
    position: relative;
    height: 2em;
    width: 2em;
    border: none;
    background-color: transparent;
    margin-right: 0.625em;
    cursor: pointer;
}

.infobox .close_popup div {
    position: absolute;
    height: 1.625em;
    width: 2px;
    margin: 0;
    background-color: black;
    left: 50%;
    top: 20%;
}

.infobox div {
    margin-top: 0.625em;
    height: fit-content;
    width: 90%;
}

.infobox div img {
    height: fit-content;
    object-fit: scale-down;
    max-height: 45vh;
}

.infobox h2 {
    width: fit-content;
    text-align: center;
    padding-top: 0.313em;
    padding-bottom: 0.625em;
    position: relative;
    background-image: none;
}

.infobox a {
    color: black;
    padding: 0.625em 0em;
    text-decoration: underline;
}

.popOn {
    overflow: hidden;
}

.close_popup div:first-of-type {
    transform: rotate(45deg);
}

.close_popup div:last-of-type {
    transform: rotate(135deg);
}

.infobox.active {
    display: flex;
}